@{
    ViewData["Title"] = "寵物首頁";
}

<div class="container mt-4">
    <h1>我的寵物</h1>
    @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger">@ViewBag.Error</div>
    }
    else
    {
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h5>寵物資訊</h5>
                    </div>
                    <div class="card-body">
                        @if (ViewBag.Pet != null)
                        {
                            <p>寵物名稱: @ViewBag.Pet.Pet_Name</p>
                            <p>等級: @ViewBag.Pet.Pet_Level</p>
                            <p>經驗值: @ViewBag.Pet.Pet_Exp</p>
                        }
                        else
                        {
                            <p>尚未擁有寵物</p>
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h5>錢包餘額</h5>
                    </div>
                    <div class="card-body">
                        <p>點數: @ViewBag.WalletBalance</p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
